<!DOCTYPE html>
<html>
	<head>
		<title><%- req.session.getTranslation('page_not_found') %></title>
		<style>
#container { text-align:center; margin-top:10%; }
h1 { font-size:5em; }
		</style>
	</head>
	<body>
		<div id="container">
			<div class="main">
				<h1>404</h1>
				<h2>
					<% if (typeof error!== 'undefined') { %>
						<%= error %>
					<% } else { %>
						<%- req.session.getTranslation('page_does_not_exist') %>
					<% } %>
				</h2>
			</div>
		</div>
	</body>
</html>
